<!-- javascripts propis de la pagina-->
<script src="/javascripts/proves.js"></script>


<!-- estils propis de la pagina-->
<link rel='stylesheet' href='/stylesheets/proves.css' />




<!--Formulari per introduir NOU registre -->
<table id="taulaAfegirRegistre">
<caption>Nova prova</caption>
<thead>
  <tr>
    <th>Prova</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    <tr>
      <form id="formulariAfegirProva" autocomplete="off">     
      <td><input type="text" id="prova" /></td>
      <td>
        <button id="botoAfegirNovaProva" class="ui-button ui-corner-all ui-widget"><span class="ui-icon ui-icon-check green"></span></button>
      </td>
      </form>
    </tr>
  </tbody>
</table> 



<!-- Llistat de tecnics -->
<table id="taula_registresPROVES" class="body_taula">
<caption>
  <label>Proves RMN</label>
</caption>

<thead>
  <tr>
    <th>Prova</th>
    <th></th>
  </tr>
</thead>
  <tbody>
  </tbody>
</table>

