<!-- javascripts propis de la pagina-->
<script src="/javascripts/tecnics.js"></script>


<!-- estils propis de la pagina-->
<link rel='stylesheet' href='/stylesheets/tecnics.css' />




<!--Formulari per introduir NOU registre -->
<table id="taulaAfegirRegistre">
<caption>Nou tecnic</caption>
<thead>
  <tr>
    <th>Numero</th>
    <th>Nom</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    <tr>
      <form id="formulariAfegirActivitat" autocomplete="off"> 
      <td><input type="text" id="numero" ></td>
      <td><input type="text" id="nom" /></td>
      <td>
        <button id="botoAfegirNouTecnic" class="ui-button ui-corner-all ui-widget"><span class="ui-icon ui-icon-check green"></span></button>
      </td>
      </form>
    </tr>
  </tbody>
</table> 



<!-- Llistat de tecnics -->
<table id="taula_registresTECNICS" class="body_taula">
<caption>
  <label>Llistat de tecnics</label>
</caption>

<thead>
  <tr>
    <th>Numero</th>
    <th>Nom</th>
    <th></th>
  </tr>
</thead>
  <tbody>
  </tbody>
</table>

